:root { 
    // added by me
    --bs-gray: #97A3BB;
    --bs-black: #141316;
    --bs-btn-city: #eff3f2;
    // fef2f2
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-secondary: #6c757d; 
    // added by me  #fef2f2
    --bs-primary: #f30a11;
    --bs-primary-disabled: #f30a1280;
    --bs-primary-hover: #db0007;
    --bs-primary-light: #fef2f2;
    --bs-body-color:  #253D52;
    --bs-dark: #253d52;
    --bs-primary-rgb: 243, 10, 17;
    --bs-link-color: #253D52;
    --bs-link-hover-color: #f30a11;
    --bs-dark-rgb: 37, 61, 82;
    --bs-nav-bg:rgba(19, 25, 32, 0.45);
    --bs-nav-link-color: rgba(255, 255, 255, 0.55);
    --bs-gradient:linear-gradient(181deg, rgba(244, 249, 249, 0.24) 99%, #f4f9f9 1%);
    --bs-black-rgb: 20, 19, 22;
    --bs-pagination-bg-c: #eff5f4;
      // added by me
    --bs-secondary-rgb: 108,117,125; 
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255; 
    --bs-body-font-size: 1rem;
} 
$text-gray:#79778b;